body{
    background-color: #112031;
  width: 100%;
  height: 100%;
  display: flex;
  
  align-items: center;
  font: 60% sans-serif;
}

h2{
    font: 60px sans-serif;
    font-family: 'Tahoma';
    color: white;
    text-align: center;
    margin-top: 90px;
}

.LogoSS{
    align-self: center;
}

.Registro{
    align-items: center;
    margin: auto;
    margin-top: 100px;
    
}

input{
    font-size: 20px;
    border-radius: 7px;
    padding: 3px;
    width: 300px;
    height: 30px;
}

label{
    text-align: left;
    font-size: 20px;
    font-family: 'Tahoma';
    color: white;
    }
#docs{
    border-radius: 5px;
    font-size: 20px;
}

#boton_enviar{
    color: white;
  background: #112031;    
  font: bold 120% sans-serif;    
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border-color: white;
  height: 45px;
}