
#Titulo {
    font-size:70px; 
    color: rgb(0, 0, 71); 
    text-align: center; 
    font-family:"Arial";
    text-shadow: 3px 3px 4px rgb(87, 83, 83);
    }


.botones {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 1100px auto;
        height: 120px;        
        padding: 50px;
        border-radius: 30px;
        margin: 100px;
        background-image: -webkit-linear-gradient(top, #ffd900, #ffa835);
        background-image: -moz-linear-gradient(top, #ffd900, #ffa835);
        background-image: -ms-linear-gradient(top, #ffd900, #ffa835);
        background-image: -o-linear-gradient(top, #ffd900, #ffa835);
        background-image: linear-gradient(to bottom,#ffd900, #ffa835);
        }


#boton1{
        
        margin: 0px 30px;
        width: 250px;
        height: 120px;
        font-size: 20px;
        font-family:Verdana;
        border-radius: 15px;
        background-image: -webkit-linear-gradient(top, #ffffff, #808080);
        background-image: -moz-linear-gradient(top, #ffffff, #808080);
        background-image: -ms-linear-gradient(top, #ffffff, #808080);
        background-image: -o-linear-gradient(top, #ffffff, #808080);
        background-image: linear-gradient(to bottom,#ffffff, #808080);
}

#boton2{
        margin: 0px 30px;
        width: 250px;
        height: 120px;
        font-size: 20px;
        font-style:large;
        font-family:Verdana;
        transform: scale();
        border-radius: 15px;
        background-image: -webkit-linear-gradient(top, #ffffff, #808080);
        background-image: -moz-linear-gradient(top, #ffffff, #808080);
        background-image: -ms-linear-gradient(top, #ffffff, #808080);
        background-image: -o-linear-gradient(top, #ffffff, #808080);
        background-image: linear-gradient(to bottom,#ffffff, #808080);
}

#boton3{
        margin: 0px 30px;
        width: 250px;
        height: 120px;
        font-size: 20px;
        font-style:large;
        font-family:Verdana;
        transform: scale();
        border-radius: 15px;
        background-image: -webkit-linear-gradient(top, #ffffff, #808080);
        background-image: -moz-linear-gradient(top, #ffffff, #808080);
        background-image: -ms-linear-gradient(top, #ffffff, #808080);
        background-image: -o-linear-gradient(top, #ffffff, #808080);
        background-image: linear-gradient(to bottom,#ffffff, #808080);
}

#boton1:hover {
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
    transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.1, 1.1);
    background-image: -webkit-linear-gradient(top, #808080, #ffffff);
    background-image: -moz-linear-gradient(top, #808080, #ffffff);
    background-image: -ms-linear-gradient(top, #808080, #ffffff);
    background-image: -o-linear-gradient(top, #808080, #ffffff);
    background-image: linear-gradient(to bottom,#808080, #ffffff);
}

#boton2:hover {
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
    transform: scale(1, 1);
    -webkit-transform: scale(1.1, 1.1);
    background-image: -webkit-linear-gradient(top, #808080, #ffffff);
    background-image: -moz-linear-gradient(top, #808080, #ffffff);
    background-image: -ms-linear-gradient(top, #808080, #ffffff);
    background-image: -o-linear-gradient(top, #808080, #ffffff);
    background-image: linear-gradient(to bottom,#808080, #ffffff);
}

#boton3:hover {
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
    transform: scale(1, 1);
    -webkit-transform: scale(1.1, 1.1);
    background-image: -webkit-linear-gradient(top, #808080, #ffffff);
    background-image: -moz-linear-gradient(top, #808080, #ffffff);
    background-image: -ms-linear-gradient(top, #808080, #ffffff);
    background-image: -o-linear-gradient(top, #808080, #ffffff);
    background-image: linear-gradient(to bottom,#808080, #ffffff);
}


  
    