
#Titulo {
    font-size:50px; 
    color: rgb(0, 0, 71); 
    text-align: center; 
    font-family:"Verdana";
    text-shadow: 3px 3px 4px rgb(87, 83, 83);
    }



.botones {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 1100px auto;
        height: 60px;        
        padding: 70px;
        border-radius: 30px;
        margin: 100px;
        
        
        
        
        }

button{
    
    margin: 0px 30px;
    width: 250px;
    height: 120px;
    font-size: 20px;
    font-family:Verdana;
    border-radius: 15px;
    border: 0px;
    background-image: -webkit-linear-gradient(top, #ffffff, #808080);
    background-image: -moz-linear-gradient(top, #ffffff, #808080);
    background-image: -ms-linear-gradient(top, #ffffff, #808080);
    background-image: -o-linear-gradient(top, #ffffff, #808080);
    background-image: linear-gradient(to bottom,#ffffff, #808080);
}

button:hover {
    
    transition: 0.5s;
    transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.1, 1.1);
    border: 0px;
    background-image: -webkit-linear-gradient(top, #808080, #ffffff);
    background-image: -moz-linear-gradient(top, #808080, #ffffff);
    background-image: -ms-linear-gradient(top, #808080, #ffffff);
    background-image: -o-linear-gradient(top, #808080, #ffffff);
    background-image: linear-gradient(to bottom,#808080, #ffffff);
}

