
h1 {
    font-size:35px; 
    color: rgb(0, 0, 71); 
    text-align: center; 
    font-family:'Tahoma';
    text-shadow: 3px 3px 4px rgb(87, 83, 83);
    }

.Formulario{
    
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: block;
    height: 900px;
    width: 1000px;
    margin: auto;
    border-radius: 15px;
}

.interno{
    margin-top:  90px;
   
    
}

#comentarios{
    text-align: center;
    border-radius: 7px;
}

textarea{
    border-radius: 7px;
}

input{
    font-size: 20px;
    border-radius: 7px;
    padding: 5px;
    border-color:rgb(233, 233, 233)
}

label{
    text-align: left;
    font-size: 20px;
    font-family: 'Tahoma';
    }

#docs{
    font-size: 20px;
    border-radius: 7px; 
}

.boton{
    margin-top: 30px;
}



#boton_enviar{
        color:white;
        margin: 0px 30px;
        width: 140px;
        height: 60px;
        font-size: 20px;
        font-style:Large;
        font-family:Verdana;
        transform: scale();
        border-radius: 15px;
        border: 0px;
        background-image: -webkit-linear-gradient(top, #5bd6a3, #5bd6a3);
        background-image: -moz-linear-gradient(top, #5bd6a3, #5bd6a3);
        background-image: -ms-linear-gradient(top, #5bd6a3, #5bd6a3);
        background-image: -o-linear-gradient(top, #5bd6a3, #5bd6a3);
        background-image: linear-gradient(to bottom,#5bd6a3, #5bd6a3);
        border-color: #5bd6a3;
        
}

#boton_enviar:hover {
    color:white;
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
    transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.1, 1.1);
    background-image: -webkit-linear-gradient(top, #5bd6a3, #5bd6a3);
    background-image: -moz-linear-gradient(top, #5bd6a3, #5bd6a3);
    background-image: -ms-linear-gradient(top, #5bd6a3, #5bd6a3);
    background-image: -o-linear-gradient(top, #5bd6a3, #5bd6a3);
    background-image: linear-gradient(to bottom,#5bd6a3, #5bd6a3);
    border-color: #5bd6a3;
    
}



