h1 {
    font-size:35px; 
    color: rgb(0, 0, 71); 
    text-align: center; 
    font-family:'Tahoma';
    text-shadow: 3px 3px 4px rgb(87, 83, 83);
    }

.datos{
    font-size:25px; 
    color: rgb(0, 0, 71); 
    text-align: center; 
    font-family:'Tahoma';
    text-shadow: 3px 3px 4px rgb(87, 83, 83);
}
.formulario{
    text-align: center;
    background-color: lightgray;
    display: block;
    text-align:center;
    width: 1000px;
    margin: 0px auto;
    margin-left:  0px 40px;
    margin-right: 0px 40px;
    border-radius: 15px;
}

#interno{
    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    margin: 0px auto;
    
    
}
#comentarios{
    text-align: center;
}

input{
    font-size: 20px;
}
#docs{
    font-size: 20px;
    border-radius: 7px; 
}

label{
    text-align: left;
    font-size: 20px;
    font-family: 'Tahoma';
    }



#boton_enviar{
        margin: 0px 30px;
        width: 140px;
        height: 60px;
        font-size: 20px;
        font-style:Large;
        font-family:Verdana;
        transform: scale();
        border-radius: 15px;
        background-image: -webkit-linear-gradient(top, #ffffff, #7cd826);
        background-image: -moz-linear-gradient(top, #ffffff, #7cd826);
        background-image: -ms-linear-gradient(top, #ffffff, #7cd826);
        background-image: -o-linear-gradient(top, #ffffff, #7cd826);
        background-image: linear-gradient(to bottom,#ffffff, #7cd826);
        text-shadow: 3px 3px 4px rgb(87, 83, 83);
        border-color: #7cd826;
        box-shadow: 7px 7px 4px rgb(87, 83, 83);
}

#boton_enviar:hover {
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
    transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.1, 1.1);
    background-image: -webkit-linear-gradient(top, #7cd826, #ffffff);
    background-image: -moz-linear-gradient(top, #7cd826, #ffffff);
    background-image: -ms-linear-gradient(top, #7cd826, #ffffff);
    background-image: -o-linear-gradient(top, #7cd826, #ffffff);
    background-image: linear-gradient(to bottom,#7cd826, #ffffff);
    text-shadow: 3px 3px 4px rgb(87, 83, 83);
    border-color: #7cd826;
    
}



