body.fondo{
	font-family: Arial, Helvetica,sans-seriff;
	font-size: 14px;
	margin:0 auto;
	position: absolute;
	width: 1280px;
    background-color:#345B63;
}
header, nav, section, article, footer{
	display:flex;
}
header{
	height: 141px;
	position: relative;
}
figure.logo{
	position: relative;
	top:15px;
	left: 1px;
	float: left;
}
.botones{
    margin: auto auto;
    width: 680px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
#idadministracion{
    background-color:#D4ECDD;
    border-radius: 30px;
    transition: 2s;
    height: 180px;
    width: 350px;
    font-size: 30px
}
#idregistro{
    background-color:#D4ECDD;
    border-radius: 30px;
    transition: 2s;
    height: 180px;
    width: 350px;
    font-size: 30px
}
#idadministracion:hover{
    text-shadow: 1px 1px 2px #122124;
    background-image: -webkit-linear-gradient(top, #D4ECDD, #345B63);
    background-image: -moz-linear-gradient(top, #D4ECDD, #345B63);
    background-image: -ms-linear-gradient(top, #D4ECDD, #345B63);
    background-image: -o-linear-gradient(top, #D4ECDD, #345B63);
    background-image: linear-gradient(to bottom,#D4ECDD, #345B63);
    animation-delay: 5s;
    transform:scale(1.2,1.2) ;
    -moz-transform: scale(1.2,1.2) ;
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2) ;
    -webkit-transform: scale(1.2,1.2);
}
#idregistro:hover{
    text-shadow: 1px 1px 2px #122124;
    background-image: -webkit-linear-gradient(top, #D4ECDD, #345B63);
    background-image: -moz-linear-gradient(top, #D4ECDD, #345B63);
    background-image: -ms-linear-gradient(top, #D4ECDD, #345B63);
    background-image: -o-linear-gradient(top, #D4ECDD, #345B63);
    background-image: linear-gradient(to bottom,#D4ECDD, #345B63);
    transform:scale(1.2,1.2) ;
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2) ;
    -ms-transform: scale(1.2,1.2) ;
    -webkit-transform: scale(1.2,1.2);   
}