body.fondo{
	font-family: Arial, Helvetica,sans-seriff;
	font-size: 14px;
	margin:0 auto;
	position: absolute;
	width: 1280px;
    background-color:#345B63;
}
header, nav, section, article, footer{
	display: block;
}
header{
	height: 141px;
	position: relative;
}
figure.logo{
	position: relative;
	top:15px;
	left: 1px;
	float: left;
}
#botones{
    width: 400px;
    margin: 10px auto;
    padding: 4px;
}
#idadministracion{
    background-color:#D4ECDD;
    height: 150px;
    width: 300px;
    margin: 0px 100px;
    font-size: 25px
}
#idregistro{
    background-color:#D4ECDD;
    height: 150px;
    width: 300px;
    margin: 0px 100px;
    font-size: 25px
}